<div class="row">
    <div class="col-2" style="background-color: dodgerblue;">
        <div class="container">
            <h3>HTML Tutorial</h3>
            <a class="btn btn-warning" routerLink='/htmlhome'>HTML Home</a><br><br>
            <a class="btn btn-warning" routerLink='/htmlintroduction'>HTML Introduction</a><br><br>
            <a class="btn btn-warning" routerLink='/htmleditors'>HTML Editors</a><br><br>
            <a class="btn btn-warning" routerLink='/htmlbasic'>HTML Basic</a><br><br>
            <a class="btn btn-warning" routerLink='/htmlheading'>HTML Heading</a><br><br>
            <a class="btn btn-warning" routerLink='/htmlparagraph'>HTML Paragraph</a><br><br>
            <a class="btn btn-warning" routerLink='/htmlimage'>HTML Image</a><br><br>
            <a class="btn btn-warning" routerLink='/htmltables'>HTML Tables</a><br><br>
            <a class="btn btn-warning" routerLink='/htmllists'>HTML Lists</a><br><br>
            <a class="btn btn-warning" routerLink='/htmlclases'>HTML Clases</a><br><br>
            <a class="btn btn-warning" routerLink='/htmllinks'>HTML Links</a><br><br>
            <a class="btn btn-warning" routerLink='/htmlforms'>HTML Forms</a><br><br>
            <a class="btn btn-warning" routerLink='/htmlstyles'>HTML Styles</a><br><br>
            <a class="btn btn-warning" routerLink='/htmlformatting'>HTML Formatting</a><br><br>
            <a class="btn btn-warning" routerLink='/htmlquiz'>HTML Quiz</a><br>
        </div>
    </div>
    <div class="col-8">
        <h2>Welcome to the Main page</h2>
        <h3>Choose your topics and learn </h3>
        <div>{{user.name | learn:user.name}}</div>
        <!-- <div [innerHTML]="user.name | learn:name "></div> -->
        <div class="card">
            <div class="card-header">
                <div class="card-title">Introduction</div>
                <div class="card-body">
                    <h6>Basics of the courses</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1 mt-4" *ngIf="value">
        <button class="btn btn-success" (click)="mypage()">BACK</button>
    </div>
    <div class="col-1 mt-4" *ngIf="!value">
        <button class="btn btn-danger" (click)="nopage()">BACK</button>
    </div>
</div>
<footer>
    <div class="card" style="width: 18rem; float: right;">
        <small class="badge-primary">Date: {{date$ | async}}</small>
    </div>
</footer>