<!-- <h1>Hello!</h1>
<app-test></app-test><br> -->
<!-- <app-twowaybinding></app-twowaybinding>
<app-employee-list></app-employee-list>-->
<!-- <app-employee-detail></app-employee-detail> -->
<h1>Routing and Navigation</h1><br>
<div class="navbar navbar-expand-sm bg-light">
    <div class="navbar-brand">Employee</div>
    <button class="btn btn-primary" routerLink="/list">E-List</button>
    <button class="btn btn-primary" routerLink="/details">E-Details</button>
    <button class="btn btn-primary" routerLink="/table">E-Attendence</button>

</div>

 <!-- <button (click)="increment()">+</button>
 {{num}}
 <button (click)="decrement()">-</button>  -->

<router-outlet></router-outlet>