<!-- <h2>Test page</h2>
<div class="container">
    <h2>User Registration</h2>
    <form (ngSubmit)="submit()">
        <div class="form-group">
            <label for="fname">Firstname</label><br>
            <input type="text" class="form-control"  >
        </div><pre></pre>
        <div class="form-group">
            <label for="lname">Lastname</label><br>
            <input type="text" class="form-control"  >
        </div><pre></pre>
        <div class="form-group">
            <label for="email">Email id</label><br>
            <input type="text" class="form-control"  >
        </div><pre></pre>
        <div class="form-group">
            <label for="password">Password</label><br>
            <input type="text" class="form-control"  >
        </div><pre></pre>
        <button class="btn btn-primary" type="submit">submit</button>
    </form>
</div> -->
<h2>Attendence</h2>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Present</th>
        <th>Absent</th>
        <th>Submit</th>
    </thead>
    <tbody>
        <tr>
            <td>001</td>
            <td>Arun</td>
            <td>21</td>
            <td><img src="/assets/tick.jpg" alt="present" width="20px" height="20px"><input type="checkbox"></td>
            <td><img src="/assets/wrong.png" alt="present" width="20px" height="20px"><input type="checkbox"></td>
            <td><button class="btn btn-success" data-target="#submit" data-toggle="modal">Submit</button>
                <div class="modal" id="submit">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">Do you want to confirm your <b>submission</b></div>
                            <div class="modal-footer">
                                <button>Submit</button>
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>002</td>
            <td>Ravi</td>
            <td>21</td>
            <td><img src="/assets/tick.jpg" alt="present" width="20px" height="20px"><input type="checkbox"></td>
            <td><img src="/assets/wrong.png" alt="present" width="20px" height="20px"><input type="checkbox"></td>
            <td><button class="btn btn-success" data-target="#submit" data-toggle="modal">Submit</button>
                <div class="modal" id="submit">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">Do you want to confirm your <b>submission</b></div>
                            <div class="modal-footer">
                                <button>Submit</button>
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>003</td>
            <td>Vino</td>
            <td>21</td>
            <td><img src="/assets/tick.jpg" alt="present" width="20px" height="20px"><input type="checkbox"></td>
            <td><img src="/assets/wrong.png" alt="present" width="20px" height="20px"><input type="checkbox"></td>
            <td><button class="btn btn-success" data-target="#submit" data-toggle="modal">Submit</button>
                <div class="modal" id="submit">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">Do you want to confirm your <b>submission</b></div>
                            <div class="modal-footer">
                                <button>Submit</button>
                                <button>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
    </tbody>
</table>