<div class="row">
    <div class="col-2" style="background-color: dodgerblue;">
        <div class="container">
            <h3>HTML Tutorial</h3>
            <button class="btn btn-warning" routerLink='/htmlhome'>HTML Home</button><br><br>
            <button class="btn btn-warning" routerLink='/htmlintroduction'>HTML Introduction</button><br><br>
            <button class="btn btn-warning" routerLink='/htmleditors'>HTML Editors</button><br><br>
            <button class="btn btn-warning" routerLink='/htmlbasic'>HTML Basic</button><br><br>
            <button class="btn btn-warning" routerLink='/htmlheading'>HTML Heading</button><br><br>
            <button class="btn btn-warning" routerLink='/htmlparagraph'>HTML Paragraph</button><br><br>
            <button class="btn btn-warning" routerLink='/htmlimage'>HTML Image</button><br><br>
            <button class="btn btn-warning" routerLink='/htmltables'>HTML Tables</button><br><br>
            <button class="btn btn-warning" routerLink='/htmllists'>HTML Lists</button><br><br>
            <button class="btn btn-warning" routerLink='/htmlclases'>HTML Clases</button><br><br>
            <button class="btn btn-warning" routerLink='/htmllinks'>HTML Links</button><br><br>
            <button class="btn btn-warning" routerLink='/htmlforms'>HTML Forms</button><br><br>
            <button class="btn btn-warning" routerLink='/htmlstyles'>HTML Styles</button><br><br>
            <button class="btn btn-warning" routerLink='/htmlformatting'>HTML Formatting</button><br><br>
            <button class="btn btn-warning" routerLink='/htmlquiz'>HTML Quiz</button><br><br>

        </div>
    </div>
    <div class="col-8">
        <h2>Welcome to the Links page</h2>
    </div>
    <div class="col-2">
    </div>
</div>